body {
    background-image: url("../images/cool-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: grid;
    grid-template: auto / 10% 90%;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-family: 'Rajdhani', serif;
}

header{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

nav{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    position: relative;
    width: 100%;
    z-index: 10;
}

main{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

footer{
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;

    text-align: center;
}

aside{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;

    text-align: center;
    font-size: 32px;
}

header h2 {
    text-align: center;
    font-size: 32px;
}

.nav_config {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, serif;
    margin-left: auto;
    margin-right: auto;
}

.nav_config b {
    font-weight: bold;
}

figure:hover {
    color: yellow;
}

figure {
    text-align: center;
    width: auto;
    margin: 10px;
    padding: 10px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

main figure {
    animation: rotation 3s linear;
}

.nature_view, .school_life, .pets figure {
    text-align: center;
    width: auto;
    margin: 10px;
    padding: 10px;
}

.nature_view, .school_life, .pets{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 480px){
    body {
        background-image: url("../images/cool-background.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        display: grid;
        grid-template: auto / 1fr;
    }

    header {
        grid-row: 1 / span 1;
        grid-column: 1/ span 1;
    }

    nav {
        grid-row: 2 / span 1;
        grid-column: 1/ span 1;
    }

    main {
        grid-row: 3 / span 1;
        grid-column: 1/ span 1;
    }

    aside {
        grid-row: 4 / span 1;
        grid-column: 1/ span 1;

        font-size: 32px;
        text-align: center;
    }

    footer {
        grid-row: 5 / span 1;
        grid-column: 1/ span 1;

        text-align: center;
    }

    .nature_view, .school_life, .pets{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
}